<!DOCTYPE html>
<html lang="en">
  <head>
    <%- include('partials/meta.ejs') %>
    <title>Delete</title>
  </head>
  <body>
    <main>
      <div class="Head">
        <div class="logo" id="box1"><img src="/images/logo.png" alt="" /></div>
        <div class="Heading" id="box2"><h1>Electronic Shop</h1></div>
      </div>
      <div>
        <nav>
          <ul>
            <li>
              <a href="/customersData">Dashbord</a>
            </li>
            <li>
              <a href="/logout">logout</a>
            </li>
          </ul>
        </nav>
      </div>
      <div style="text-align: center">
        <h2>Thank you</h2>
        <p>Your request has been successfully deleted.</p>
      </div>
      <%- include('partials/footer.ejs') %>
    </main>
  </body>
</html>
